#margen{
    border: 2px solid #000;
    border-radius: 15px;
    padding: 2%;
}
#con1{
    padding-top: 5%;
    padding-bottom: 3%;
    margin-top: 40px;
}
.caja{
    display: inline-block;
    width: 40%;
    margin-left: 7%;
}
input{
    width: 280px;
    height: 35px;
}
h2 {
    color: #646464;
    padding: 10px;
    border-bottom: 2px solid;
}
